/*Geral*/
@import url('https://fonts.googleapis.com/css2?family=Alfa+Slab+One&display=swap');

* {
	padding: 0;
	margin: 0;
	text-decoration: none;
	list-style: none;
	box-sizing: border-box;
}
body {
    background-size: cover;

}

/*menu*/
    .cabecalho{
        padding: 0;
	    margin: 0;
        top:0;
        height: 25px;
        background-color: white;
        color: green;
        text-align: center;

    }
    .brand h1 {
        position: absolute;
        top: 25px;
        left: 50%;
        transform: translate(-50%, -50%);
        font-family: 'Alfa Slab One', cursive;
        color: yellow;
        font-size: 30px;
    }
    .menu {
        position: fixed; /*fixa o background*/
        top: 0;
        left: 0;
        right: 0;
        z-index: 999; /*não pode haver z-index maior que 999*/
        /*z-index indica que essa div vai sobrepor outras divs com z-index menor que 999*/
    }
    .navbar-brand img  { /*esquerda*/
        width: 70px;
        height: 70px;  
        border: 3px solid green;
        border-radius: 100px;
    }
    .navbar-nav { /*meio*/
        float:none;
        margin:0 auto;
        display: block;
        text-align: center;
    }
    .form-inline button {
        margin: 10px;
        color: white;
    }
    .btn img { /*direita*/
        width: 30px;
        height: 30px; 
    } 
    .menu a{
        text-decoration: nome;
        color: green;
    }
    .menu a:hover{
        color: green;
    }

/*texto chamativo + botao cadastrar*/
    figure.div-area-consumidor {
        width: 100%;
        height: 550px;
        position: relative;
        /*background-image: url("./Prejeto-ProgramacaoWEB/imagens/img-para-texto-chamativo.jpg");*/
        background-image: url("../imagens/marmitas.jpg");
        background-position: center center;
        background-repeat: no-repeat;
        opacity: 0.8;   
    }
    .texto-chamativo{
        color: black;
        font-weight: 1000;
        /*font-family: 'Alfa Slab One', cursive;*/
        font-size: 30px;
        position: absolute;
        top: 150px;  
        text-align: center;
        margin: 0 20%;
        z-index: 1;
    }
    .texto-chamativo h1{
        text-decoration: underline;
    }
    .botao-cadastro button {
        position: absolute;
        top: 400px;
        left: 45%; 
        background-color: green;
        border-color: green;
    }
    .botao-cadastro button:hover {
        position: absolute;
        top: 400px;
        left: 45%; 
        background-color: darkgreen;
        border-color: green;
    }
    .botao-cadastro a{
        color: white;
    }
    .botao-cadastro a:hover{
        color: white;
    }

/*--------------------------------------*/
/*Formulario - Login e Cadastro*/
    .formulario{
        border: lightgray solid 2px; 
        margin: 140px auto; 
        width: 800px;
        padding: 10px;
    }
    .formularioLogin{
        border: lightgray solid 1px; 
        margin: 140px auto; 
        text-align: center;
        width: 350px;
    }
    .formularioLogin .botao a {
        color: white;
    }
    .title{
        margin: 0 auto;
        text-align: center;
        color: green;
        text-decoration: underline;
    }

/*--------------------------------------*/
/*Tela de produtos*/
.abaixoDoMenu{
    margin-top: 140px;
}
#divProd{
    width: 100%;
    height: 400px;
    background-color: white ;
    margin: 0;
    top: 500px;
}

.div-card-prod{
    width: 300px;
    height: 350px;
    background-color: lightgreen;
    border-radius: 10px;
    float: left;
    margin: 18px;
}
.div-card-img-prod img{
    width: 100%;
    height: 250px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

.div-card-descricao-prod{
    width: 100%;
    font-size: 10px;
    text-align: center;
    height: 50px;
    padding-top: 10px;
}
.div-card-comprar-prod{
    text-align: center;
    background-color: green;
    color: white;
    height: 50px;
    cursor: pointer;
    padding-top:15px;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}
.div-card-comprar-prod:hover{
    background-color: darkgreen;
}
.div-card-comprado-prod{
    background-color: limegreen;
}
.div-card-comprado-prod:hover{
    background-color: limegreen;
}
.botao .botaoProdutos{
    display: flex;
    margin: 0 auto;
    flex-direction: row;
    justify-content: center;
    left: 45%; 
    background-color: green;
    border-color: darkgreen;
    color: white;
}
.botao .botaoProdutos:hover{
    background-color: darkgreen;
    border-color: green;
}.botao .botaoProdutos{
    background-color:green;
    border-color: green;
}
.botao .botaoProdutos a{
    border-color: darkgreen;
    color: white;
}
.botao .botaoProdutos a:hover{
    color: white;
}

/*Estilos do Main*/
.corpo {
    margin: 15px;
    padding: 15px;
    background-color: rgb(255, 255, 255);
}


/*Parte das imagens e do Vídeo*/
figure {
    text-align: center;
    background-color: whitesmoke;
    margin: 30px;
    padding: 15px;
    border-radius: 8px;
    padding: 5px;
}

figcaption{
    margin-top: 10px;
}


/*Video*/
#tituloVideo {
    text-align: center;
    background-color: lightgreen;
    border-radius: 8px;
}  
   
.video {
    font-family: Arial, Helvetica, sans-serif;
    color: #3d3d3d;
    width: 1200px;
	margin-left:	auto;
	margin-right:	auto;
    border-radius: 8px;
    padding: 5px;
}


/*Depoimentos*/
.depoimento {
    font-family: "Poppins", sans-serif;
    background-color: #fafafa;
  }

#tituloDepoimento {
    text-align: center;
    background-color: lightgreen;
    border-radius: 8px;
}  
   
.row {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
.card {
    border-radius: 5px;
    box-shadow: 7px 7px 13px 0px rgba(50, 50, 50, 0.22);
    padding: 30px;
    margin: 20px;
    width: 400px;
    transition: all 0.3s ease-out;
  }
  
.card:hover {
    transform: translateY(-5px);
    cursor: pointer;
  }
   
.card p {
    color: #a3a5ae;
    font-size: 16px;
  }
   
.image {
    float: right;
    max-width: 64px;
    max-height: 64px;
  }
  

/*Contato*/
.contato {
    font-family: Arial, Helvetica, sans-serif;
    color: #3d3d3d;
    width: 1200px;
	margin-left:	auto;
	margin-right:	auto;
    text-align: center;
    padding-bottom: 15px;
    background-color: lightgreen;
    line-height: 10px;
    padding-top: 15px;
    border-radius: 8px;    
}


/*Redes Sociais*/
.redes {
    font-family: Arial, Helvetica, sans-serif;
    color: #3d3d3d;
    width: 1200px;
	margin-left:	auto;
	margin-right:	auto;
    text-align: center;
    background-color: lightgreen;
    line-height: 10px;
    padding-bottom: 15px;
    border-radius: 8px;
}

/*Midia Mobile*/
    @media all and (max-width: 800px ) {
        .formularioLogin{
            width: 355px;
            margin-top: 400px;
        }
        .formulario{
            width: 400px;
            margin-top: 400px;
        }
        .col-md-6{
            width: 400px;
        }
        .form-inline .pesquisa{
            width: 100px;
        }
        .texto-chamativo{
            top: 200px;
        }
        .texto-chamativo h1{
            font-size: 20px;
        }
        .texto-chamativo h3{
            font-size: 15px;
        }
    }

    